.form__btn {
    position: fixed; /* Esto permite que el bot칩n se mantenga en la misma posici칩n incluso si se desplaza la p치gina */
    right: 40px; /* Distancia desde el borde derecho de la ventana del navegador */
    padding: 15px 20px; /* Espacio interno del bot칩n */
    top: 40px;
}
.app__title {
    margin-top: 60px;
    margin-left: 60px;
}
